@for (item of dataa; track $index) {
<mat-card class="example-card" [routerLink]="['product', item.id]">
  <img mat-card-image class="img" [src]="item.thumbnail" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <div class="up">
      <mat-card-title>{{item.title}}</mat-card-title>
      <p class="price">{{item.price}} $</p>
    </div>
    <p>{{ item.description }}</p>
  </mat-card-content>
  @if (item.stock > 0) {
    <div class="in-stock">
      in stock
    </div>
  }
  @if (item.stock == 0) {
<div class="out">
  out of stock

</div>
  }
  <mat-card-actions>
    <button mat-button>Add To Card</button>
  </mat-card-actions>
</mat-card>
}
