
<mat-card class="example-card" [routerLink]="['product', dataa.id]">
  <img mat-card-image class="img" [src]="dataa.thumbnail" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <div class="up">
      <mat-card-title>{{dataa.title}}</mat-card-title>
      <p class="price">{{dataa.price}} $</p>
    </div>
    <p>{{ dataa.description }}</p>
  </mat-card-content>
  @if (dataa.stock > 0) {
    <div class="in-stock">
      in stock
    </div>
  }
  @if (dataa.stock == 0) {
<div class="out">
  out of stock

</div>
  }
  <mat-card-actions>
    <button mat-button>Add To Card</button>
  </mat-card-actions>
</mat-card>

