<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      id="email"
      matInput
      placeholder="Ex. pat@example.com"
      type="email"
      formControlName="email"
    />
    @if(profileForm.get('email')?.invalid && profileForm.get('email')?.touched)
    { @if(profileForm.get('email')?.errors?.['required']) {
    <mat-error>Email is <strong>required</strong></mat-error>
    } @if (profileForm.get('email')?.errors?.['pattern']) {
    <mat-error>Please enter a valid email address</mat-error> } }
  </mat-form-field>
  <mat-form-field>
    <mat-label>password</mat-label>
    <input
      id="password"
      placeholder="password"
      matInput
      type="password"
      formControlName="password"
    />
    @if(profileForm.get('password')?.invalid &&
    profileForm.get('password')?.touched) {
    @if(profileForm.get('password')?.errors?.['required']) {
    <mat-error>Email is <strong>required</strong></mat-error>
    } }
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">submit</button>

</form> -->
<form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
    type="email"
    placeholder="Ex. pat@example.com"
    matInput
    required
    minlength="10"
    ngModel
    name="email"
    #email="ngModel"
    required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
  />
    @if(email.touched&&email.invalid){
      @if(email.errors?.['required']){
        <mat-error>Email is <strong>required</strong></mat-error>
      }
      @if(email.errors?.['pattern']){
        <mat-error>Email is <strong>invalid</strong></mat-error>
      }
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>password</mat-label>
    <input
    type="password"
    placeholder="password"
    matInput
    required
    minlength="10"
    ngModel
    name="password"
    #password="ngModel"
  />
    @if(password.touched&&password.invalid){
      @if(password.errors?.['required']){
        <mat-error>password is <strong>required</strong></mat-error>
      }
    }
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">submit</button>

</form>
